body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: url("../src/friends.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.container {
  background-color: rgba(255, 240, 250, 0.871);
  max-width: 600px;
  margin: 60px auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 10px;
  margin-top: 150px;
}

h1 {
  text-align: left;
}

select {
  display: block;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  margin-bottom: 20px;
  margin-top: 20px;
}

.city {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.183);
}

.city:last-child {
  border-bottom: none;
}
.city-name {
  font-size: 30px;
}

.date {
  color: grey;
  font-size: 12px;
}

.city-time {
  font-size: 42px;
}

small {
  font-size: 20px;
  vertical-align: middle;
}

.button {
  text-align: center;
}

button {
  padding: 15px;
  color: black;
  background-color: rgb(249, 99, 220);
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

footer {
  text-align: center;
  background-color: rgba(255, 240, 250, 0.9);
  max-width: 600px;
  margin: 60px auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20px;
  margin-bottom: 100px;
}
